body {
    background-color: peru;
    align-items: center;
    }
    h1 {
        text-emphasis-color: red ;
    }
    
    .info {
        background-color: white;
    }

    #table {
        background-color: indigo;

    }

    .middle{
        background-color: honeydew;

    }

    .bottom{
        background-color: grey;
    }
